body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

.margine {
  margin: 0 250px;
}

header .row_top {
  background-color: #0282f9;
}

header .row_top ul {
  margin: 0;
  list-style-type: none;
  display: flex;
}

header .row_top ul li {
  margin-left: 20px;
}

header .row_top ul li a {
  text-decoration: none;
  font-size: 13px;
  color: black;
}

header nav .menu {
  display: flex;
}

header nav .menu .logo {
  padding: 26px;
}

header nav .menu .logo img {
  height: 40px;
  width: auto;
}

header nav .menu ul {
  list-style-type: none;
  display: flex;
}

header nav .menu ul li {
  padding: 26px;
}

header nav .menu ul li a {
  text-decoration: none;
}

