body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 1650px;
}

img {
  width: 100%;
  display: block;
}

.margine {
  margin: 0 250px;
}

header .row_top {
  background-color: #0282f9;
}
header .row_top ul {
  margin: 0;
  list-style-type: none;
  display: flex;
}
header .row_top ul li {
  margin-left: 20px;
}
header .row_top ul li a {
  text-decoration: none;
  font-size: 13px;
  color: black;
}
header nav .menu {
  display: flex;
  justify-content: space-between;
}
header nav .menu .logo {
  padding: 26px;
}
header nav .menu .logo img {
  height: 50px;
  width: auto;
}
header nav .menu ul {
  list-style-type: none;
  display: flex;
}
header nav .menu ul li {
  padding: 8px;
  line-height: 52px;
}
header nav .menu ul li a {
  text-decoration: none;
}
header .jumbotron img {
  background-size: cover;
}

main {
  padding-top: 20px;
  padding-bottom: 20px;
}
main ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
main ul li {
  width: calc( 100% / 6 );
  padding: 10px 0;
}
main ul li img {
  width: 200px;
  height: auto;
}

.blue_row {
  height: 75px;
  background-color: #0282f9;
}
.blue_row .image_product {
  border: 5px solid white;
}
.blue_row .image_product img {
  width: 150px;
  height: auto;
  position: absolute;
  bottom: -255px;
  left: 396px;
}

.product-info {
  margin: 0 400px;
}
.product-info .general_container_product {
  display: flex;
}
.product-info .general_container_product .container_left {
  width: 70%;
}
.product-info .general_container_product .container_left h1 {
  text-align: left;
  font-size: 23px;
}
.product-info .general_container_product .container_left .container_green_row {
  display: flex;
  color: white;
}
.product-info .general_container_product .container_left .container_green_row .green_row_left {
  background-color: #0cc90c;
  padding: 10px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  border-right: 1px solid black;
}
.product-info .general_container_product .container_left .container_green_row .green_row_right {
  background-color: #0cc90c;
  padding: 10px;
  width: 171px;
}
.product-info .general_container_product .container_left .container_green_row .green_row_right span {
  text-align: center;
}
.product-info .general_container_product .container_left .container_green_row .green_row_right span p {
  margin: 0;
}
.product-info .general_container_product .container_right {
  width: 30%;
}
.product-info .general_container_product .container_right h4 {
  text-align: right;
  margin: 0;
}
.product-info .information {
  display: flex;
}
.product-info .information .talent {
  width: 50%;
}
.product-info .information .talent .art_by .left {
  width: 30%;
}
.product-info .information .talent .art_by .right {
  width: 70%;
}
.product-info .information .specs {
  width: 50%;
}

footer {
  background-image: url("../img/footer-bg.jpg");
}
footer h3 {
  color: red;
}