//CSS HOME.BLADE.PHP
main {
    padding-top: 20px;
    padding-bottom: 20px;

    ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;

        li {
            width: calc( 100% / 6 );
            padding: 10px 0;

            img {
                width: 200px;
                height: auto;
            }
        }
    }
}



//CSS PRODUCT.BLADE.PHP
.blue_row {
    height: 75px;
    background-color: $brand_color;

    .image_product {
        border: 5px solid white;

        img {
            width: 150px;
            height: auto;
            position: absolute;
            bottom: -255px;
            left: 396px;
        }
    }
}

.product-info {
    margin: 0 400px;

    
    .general_container_product {
        display: flex;
        
        .container_left {
            width: 70%;
    
            h1 {
                text-align: left;
                font-size: 23px;
            }
    
            .container_green_row {
                display: flex;
                color: white;
    
                .green_row_left {
                    background-color: rgb(12, 201, 12);
                    padding: 10px;
                    width: 400px;
                    display: flex;
                    justify-content: space-between;
                    border-right: 1px solid black;
                }
        
                .green_row_right {
                    background-color: rgb(12, 201, 12);
                    padding: 10px;
                    width: 171px;
    
                    span {
                        text-align: center;
                        
                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
    
    
        .container_right {
            width: 30%;
    
            h4 {
                text-align: right;
                margin: 0;
            }
        }
    }


    //information
    .information {
        display: flex;

        .talent {
            width: 50%;

            .art_by {
                display: flex;

                .left {
                    width: 30%;
                    border-top: 1px solid lightgrey;
                }

                .right {
                    width: 70%;
                    border-top: 1px solid lightgrey;
                }
            }


            .written_by {
                display: flex;

                .left {
                    width: 30%;
                    border-top: 1px solid lightgrey;
                    border-bottom: 1px solid lightgrey;
                }

                .right {
                    width: 70%;
                    border-top: 1px solid lightgrey;
                    border-bottom: 1px solid lightgrey;
                }
            }
        }

        .specs {
            width: 50%;

            
        }
    }

}