main {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $primary_color;

    ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;

        li {
            width: calc( 100% / 6 );
            padding: 10px 0;

            img {
                width: 200px;
                height: auto;
            }
        }
    }
}